<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Disaster Relief - Create Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="nav_logo">
                <h1><a href="#">Disaster Relief System</a></h1>
            </div>
            <ul class="nav_link">
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login_box">
            <h1>Create Account</h1>
            <form class="login_form" method="POST" action="/signup">
                <input type="text" name="username" placeholder="Choose Username" required>
                <input type="password" name="password" placeholder="Choose Password" required>
                <input type="hidden" name="role" value="Customer">
                <input type="submit" value="Register Account">
            </form>
        </div>
    </main>
</body>
</html>
